
<style>
  #map {
    height: 100%;
  }
</style>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title *ngIf="ticket">{{ ticket.data.first_name }} {{ ticket.data.last_name }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div *ngIf="ticket">
    <h1>{{ ticket.data.first_name }} {{ ticket.data.last_name }}</h1>
  </div>

  <div #map id="map" style="width: 90%;"></div>

  <ion-card *ngIf="ticket">

    <ion-card-header style="background-color: #d9d9db;">
      <h1>Datapoints</h1>
    </ion-card-header>

    <ion-card-content style="padding-top: 6px;">
      <ion-list>
        <div ion-item *ngFor="let datapoint of ticket.datapoints">
          <ion-row>
              <span style="margin: auto; font-weight: bold;">{{ datapoint.datapoint_name }}</span>
          </ion-row>
          <ion-row *ngIf="datapoint.value_numeric">
            <span style="margin: auto;">{{ datapoint.value_numeric }}</span>
          </ion-row>
          <ion-row *ngIf="datapoint.value_boolean">
            <span style="margin: auto;">{{ datapoint.value_boolean }}</span>
          </ion-row>
          <ion-row *ngIf="datapoint.value_option">
            <span style="margin: auto;">{{ datapoint.value_option }}</span>
          </ion-row>
          <ion-row *ngIf="datapoint.value_text">
            <span style="margin: auto;">{{ datapoint.value_text }}</span>
          </ion-row>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="ticket">

    <ion-card-header style="background-color: #d9d9db;">
      <h1>Needs</h1>
    </ion-card-header>

    <ion-card-content>
      <ion-list style="padding-top: 6px;">
        <ng-container *ngFor="let need of ticket.needs">
          <div ion-item *ngIf="need.has_or_needs==0" style="background-color: #f47373; width: auto; height: auto; border-color: black; border-style: solid; border-radius: 5px; border-width: 1px; margin-bottom: 2px;">
            <ion-row>
                <span style="margin: auto; font-weight: bold;">{{ need.name }}</span>
            </ion-row>
            <ion-row>
              <span style="margin: auto;">Needs {{ need.amount }}</span>
            </ion-row>
          </div>
          <div ion-item *ngIf="need.has_or_needs==1">
            <ion-row>
                <span style="margin: auto; font-weight: bold;">{{ need.name }}</span>
            </ion-row>
            <ion-row>
              <span style="margin: auto;">Has {{ need.amount }}</span>
            </ion-row>
          </div>
        </ng-container>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

</ion-content>


