<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<style>
  #map {
    height: 100%;
    width: 100%;
    border: solid 5px black;
    min-height: 500px;
  }
  .hasorneeds{
    width: auto;
    height: auto;
    border-bottom-color: black;
    border-bottom-style: solid;
    /*border-radius: 5px;*/
    border-bottom-width: 1px;
    margin-bottom: 2px;
  }
  .needs{
    /*background-color: #f47373;*/
  }
  .has{
    /*background-color: #17c43a;*/
  }
  .top-right{
    position: absolute;
    right: 10%;
    top: 10%
  }
  .helpbutton {
  	display: block;
  	width: 50%;
  	margin-left: auto;
  	margin-right: auto;
  	background-color: orange;
  	font-weight: bold;
  	color: white;
  	text-align: center;
  }
  .submitbutton {
  	display: block;
  	width: 50%;
  	margin-left: auto;
  	margin-right: auto;
  	background-color: green;
  	font-weight: bold;
  	color: white;
  	text-align: center;
  }
  .nfheader {
  	font-weight: bold;
  	padding: 5px;
  }
</style>


<div>

	<ion-card *ngIf="completionmessage">
		<div class='nfheader' style="background-color: green;">
			<h1 style="color:white">Task complete! All records have been saved to the database. </h1>
		</div>
	</ion-card>

	<ng-container *ngFor="let nf of need_fulfillments">
		<ion-card>
			<div class='nfheader' style="background-color: red;">
				<h1 style="color:white">You are providing {{ nf.need.need_type.name }}!</h1>
			</div>

			<ion-card-content style='text-align: center; padding-top: 25px;'>
				<div *ngFor="let psm of nf.pipeline_stage_members">
					<h1>{{ psm.pipeline_stage.name }}</h1>
					<hr>
					<h2>Current Instructions</h2>
					<p *ngIf="psm.pipeline_stage.directions">{{ psm.pipeline_stage.directions }}</p>
					<p *ngIf="!psm.pipeline_stage.directions"><i>No Instructions</i></p>
					<hr style="margin-bottom: 10px; margin-top: 10px;">
					<div *ngIf="psm.forms && psm.forms.length">
						<div id="psmhider_{{ psm.id }}" style='display: none'>
							<form id="psmform_{{ psm.id }}">
								<div *ngFor="let form of psm.forms">
									<form-view [form]="form"></form-view>
								</div>
							</form>
							<button ion-item no-lines (click)="submitStage(nf.id, psm)" class="submitbutton">Submit</button>
						</div>
						<button id="psmdonebutton_{{ psm.id }}" ion-item no-lines (click)="showForm(psm)" class="submitbutton">I'm Done</button>
					</div>
					<div *ngIf="!psm.forms || !psm.forms.length">
						<form id="psmform_{{ psm.id }}">
						</form>
						<button ion-item no-lines (click)="submitStage(nf.id, psm)" class="submitbutton">I'm Done</button>
					</div>
				</div>
			</ion-card-content>
		</ion-card>
	</ng-container>


	<ion-card>
		<ion-card-header style="background-color: black;">
			<h1 *ngIf="entity" style="color:white">{{ entity.data.entity.first_name }} {{ entity.data.entity.last_name }}</h1>
		</ion-card-header>

		<ion-card-content style="padding-top: 6px; padding-left: 0px !important; padding-right: 0px !important;">
			<div #map id="map"></div>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="datapoints && datapoints.length">
		<ion-card-header style="background-color: black;">
			<h1 style="color: white;">Datapoints</h1>
		</ion-card-header>

		<ion-card-content style="padding-top: 6px;">
			<ion-list>
				<ng-container *ngFor="let datapoint of datapoints">
					<div ion-item>
						<ion-row>
							<span style="margin: auto; font-weight: bold;">{{ datapoint.name }}</span>
						</ion-row>
						<div *ngIf="datapoint.data && datapoint.data.length">
							<ion-row *ngIf="datapoint.data[0].value_numeric">
								<span style="margin: auto;">{{ datapoint.data[0].value_numeric }}</span>
							</ion-row>
							<ion-row *ngIf="datapoint.data[0].value_boolean">
								<span style="margin: auto;">{{ datapoint.data[0].value_boolean }}</span>
							</ion-row>
							<ion-row *ngIf="datapoint.data[0].value_option">
								<span style="margin: auto;">{{ datapoint.data[0].value_option }}</span>
							</ion-row>
							<ion-row *ngIf="datapoint.data[0].value_text">
								<span style="margin: auto;">{{ datapoint.data[0].value_text }}</span>
							</ion-row>
						</div>
						<div *ngIf="!datapoint.data || !datapoint.data.length">
							<ion-row>
								<span style="margin: auto; color:rgb(205,205,205);font-style: italic;">No data</span>
							</ion-row>
						</div>
					</div>
				</ng-container>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="needs && needs.length">
		<ion-card-header style="background-color: black;">
			<h1 style="color: white;">Needs</h1>
		</ion-card-header>

		<ion-card-content>
			<ion-list style="padding-top: 6px;">
				<ng-container *ngFor="let need of needs">
					<div *ngIf="need.data && need.data.length">
						<div ion-item class="hasorneeds needs">
							<ion-row>
								<span style="margin: auto; font-weight: bold;">{{ need.name }}</span>
							</ion-row>
							<ion-row>
								<span style="margin: auto;">Needs {{ need.amount }}</span>
							</ion-row>
							<ion-row *ngIf="need.rules && need.rules.assign && need.rules.assign!=0 && !hidebutton[need.data[0].id]">
								<button ion-item no-lines (click)="addNeedfulfillment(need.data[0].id, need.rules.assign)" class="helpbutton helpbutton_{{need.data[0].id}}">I Can Help</button>
							</ion-row>
						</div>
					</div>
				</ng-container>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="inventory && inventory.length">
		<ion-card-header style="background-color: black;">
			<h1 style="color: white;">Inventory</h1>
		</ion-card-header>

		<ion-card-content>
			<ion-list style="padding-top: 6px;">
				<ng-container *ngFor="let need of inventory">
					<div *ngIf="need.data && need.data.length">
						<div ion-item class="hasorneeds has">
							<ion-row>
								<span style="margin: auto; font-weight: bold;">{{ need.name }}</span>
							</ion-row>
							<ion-row>
								<span style="margin: auto;">Has {{ need.amount }}</span>
							</ion-row>
						</div>
					</div>
				</ng-container>
			</ion-list>
		</ion-card-content>
	</ion-card>
</div>