<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<style>
.top-right{
  position: absolute;
  right: 10%;
  top: 10%;
}
</style>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>{{ 'page.notifications.list' | translate }}</ion-title>
    <div class="fa fa-3x fa-bell top-right" (click)="notification()"></div>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="notifications">
    <button ion-item  *ngFor="let notification of notifications" (click)="notificationInfo(notification)">{{ notification.title }}</button>
  </ion-list>
</ion-content>

