<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

<style>
  .container {
    height: 100%;
  }
  #map {
    height: 100%;
    border: solid 5px black;
  }
  .toggle{
    /*
    background-color: black;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 2px;
    height: 60px;
    text-align: center;
    */
  }
  .mapLayerButton{

    color: white;
    border-radius: 2px;
    height: 60px;
    text-align: center;
  }
  .on{
    background-color: #42aaf4;
  }
  .off{
    background-color: #c2c4c2;
  }
  .mapItButton{
    background-color: #048e10;
    color: white;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    height: 60px;
  }
  .removeButton{
    background-color: red;
    color: white;
    border-radius: 2px;
    width: 49%;
    text-align: center;
    height: 60px;
  }
  .dn {
    display: none;
  }
  .dib {
    display: inline-block;
  }
  .mapicon {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
  }
</style>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title *ngIf="campaign">{{ campaign.name }}</ion-title>
    <ion-buttons end><div class="fa fa-2x fa-bell top-right" (click)="notification()"></div></ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="container">
    <div *ngIf="campaign">
      <div id="mapchecks_{{campaign.id}}" class="finder">
        <ion-list>
          <div ion-item *ngFor="let map of campaign.maps">
            <div ion-item no-lines class="toggle" (click)="toggle(map.id)">
              <div class="toggleiconmapgroup{{map.id}} dib"><ion-icon name="arrow-dropdown"></ion-icon></div>
              <div class="toggleiconmapgroup{{map.id}} dn"><ion-icon name="arrow-dropup"></ion-icon></div>
              <span>{{ map.name }}</span>
            </div>
            <div ion-item no-lines *ngFor="let group of map.groups" id="div_{{map.id}}" style="display: none;">
              <button ion-item no-lines (click)="mapitHelper(group)" class="mapLayerButton off" id="group{{ group.id }}">
                <div class="toggleiconmap{{group.id}} dn"><ion-icon name="checkbox-outline"></ion-icon></div>
                <div class="toggleiconmap{{group.id}} dib"><ion-icon name="square-outline"></ion-icon></div>
                <img class='mapicon' src='{{group.icon}}' />
                <span>{{ group.name }}</span>
              </button>
              <!--<input [value]="group.id" type="checkbox" ng-model="selected[group.id]"> {{ group.name }} -->
            </div>
          </div>
        </ion-list>
      </div>
      <div ion-row style="margin-bottom: 2px;">
        <button ion-item no-lines (click)="mapit(campaign.id)" class="mapItButton">Display on Map</button>
      </div>
      
    </div>
    <div #map id="map"></div>
  </div>
  
</ion-content>
