<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<style>
  .hasorneeds{
    width: auto;
    height: auto;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 2px;
  }
  .needs{
    background-color: #f47373;
  }
  .has{
    background-color: #17c43a;
  }
  .top-right{
    position: absolute;
    right: 10%;
    top: 10%;
  }
</style>



<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title *ngIf="user">{{ user.data.first_name }} {{ user.data.last_name }}</ion-title>
    <div class="fa fa-3x fa-bell top-right" (click)="notification()"></div>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="user">
    <entity-view [entity]="user"></entity-view>
  </div>
</ion-content>


<!--
  <ion-card *ngIf="user">
    <ion-card-content>
      <h1>{{ user.data.title }}</h1>
      <ion-row>
          <ion-col>
            <h2>id</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.id }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>active</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.active }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>status</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.status }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>created</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.created }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>modified</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.modified }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>created_epoch</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.created_epoch }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>modified_epoch</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.modified_epoch }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>owner</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.owner }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>ownerg</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.ownerg }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>campaign_id</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.campaign_id }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>user_status_id</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.user_status_id }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>first_name</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.first_name }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>last_name</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.last_name }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>latitude</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.latitude }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>longitude</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.longitude }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>last_contacted</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.last_contacted }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>polygons</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.polygons }}</span>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <h2>name</h2>
          </ion-col>          
          <ion-col>
            <span>{{ user.data.name }}</span>
          </ion-col>
        </ion-row>
          </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small color="secondary" (click)="editusers(user)">
          <ion-icon name="construct"></ion-icon>
          <div>{{ 'button.edit' | translate }}</div>
        </button>          
      </ion-col>
      <ion-col text-right>
        <button ion-button icon-left clear small color="danger" (click)="deleteusers(user)">
          <ion-icon name="trash"></ion-icon>
          <div>{{ 'button.delete' | translate }}</div>
        </button>          
      </ion-col>
    </ion-row>
  </ion-card>
  -->